/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/*.bundle.js
/public/js/app.js
/public/css/app.css
.idea
/package-lock.json
composer.lock
/storage/laravels.json
/storage/laravels.pid
/storage/laravels-custom-processes.pid
/storage/laravels-timer-process.pid
