// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// @import '~vuetify/dist/vuetify.min.css';

// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*! purgecss start ignore */
@import "vue-dialog-drag.css";

body {
    font-family: 'Assistant', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #555;
}

.material-icons {
  font-family: 'Material Icons' !important;
}
/*! purgecss end ignore */
